<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="wrapper-product">
        <div class="pro-detail">
            <div class="proimg">
                <img src="assets/images/sp5.png" alt="" />
            </div>
            <div class="pro-info">
                <h1>Melygra</h1>
                <h2><span>THÀNH PHẦN</span></h2>
                <ul>
                    <li>
                        <div class="li1">Cao Bá bệnh</div>
                        <div class="li2">100mg</div>
                    </li>
                    <li>
                        <div class="li1">Cao Maca Root</div>
                        <div class="li2">25mg</div>
                    </li>
                    <li>
                        <div class="li1">Cao Bạch tật lê</div>
                        <div class="li2">75mg</div>
                    </li>
                    <li>
                        <div class="li1">Cao Dâm dương hoắc</div>
                        <div class="li2">25mg</div>
                    </li>
                    <li>
                        <div class="li1">Cao Tiêu mao</div>
                        <div class="li2">25mg</div>
                    </li>
                     <li>
                        <div class="li1">Cao Nhân sâm (Ginseng)</div>
                        <div class="li2">50mg</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper-text">
        <div class="text-box">
            <h1>Công dụng</h1>
            <p><img src="assets/images/img-text1.png" alt="" />Giúp bổ phế, long đờm, giảm ho, làm ấm đường hô hấp</p>
            <p><img src="assets/images/img-text1.png" alt="" />Giúp giảm các triệu chứng ho do viêm phế quản, ho do dị ứng, ho khan, ho có đờm</p>
            <p><img src="assets/images/img-text1.png" alt="" />Hỗ trợ giảm nôn, trớ ở trẻ em</p>
       </div>
         <div class="text-box">
            <h1>Đối tượng sử dụng</h1>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Người lớn, Trẻ em bị ho</p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Viêm phế quản </p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Viêm đường hô hấp</p>
       </div>
         <div class="text-box">
            <h1>Hướng dẫn sử dụng</h1>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Trẻ từ 2 đến 5 tuổi: 2,5 - 5ml/lần, ngày 3 - 4 lần.</p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Trẻ trên 5 tuổi và người lớn: 5 - 10ml/lần hoặc 1 - 2 gói/lần, ngày 3 - 4 lần.</p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Trẻ dưới 2 tuổi: Hỏi ý kiến của bác sĩ trước khi sử dụng.</p>
       </div>
        <div class="text-box">
            <h1>Bảo quản</h1>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Nơi khô ráo thoáng mát tránh ánh nắng chiếu trực tiếp.</p>
       </div>
        <div class="text-box">
            <h1>Thời hạn sử dụng</h1>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">36 tháng kể từ ngày sản xuất. </p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Ngày sản xuất và hạn sử dụng ghi trên nhãn sản phẩm.</p>
       </div>
        <div class="text-box">
            <h1>Quy cách đóng gói</h1>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Gói 5ml</p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Hộp 20 gói</p>
            <p><img src="assets/images/img-text2.png" alt="" style="padding: 0 6px 1px 0">Chai 100ml.</p>
       </div>
        <div class="note">
            <p>( <span>*</span> Sản phẩm này không phải là thuốc, không có tác dụng thay thế thuốc chữa bệnh )</p>
        </div>
    </div>
</body>
</html>